@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  border-radius: 25px;
}

img {
  width: 100%;
  height: 100%;
}

.photoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.photo {
  width: 200px;
  height: 200px;
}

.photoTitle {
  height: 20px;
}

.done {
  color: green;
  font-weight: bold;
}

.notDone {
  color: red;
  font-weight: bold;
}
