@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  border-radius: 25px;
}

nav a {
  margin: 0.5rem 1rem;
  border-radius: 25px;
  padding: 0.5rem;
  text-decoration: none;
  background-color: rgb(208, 208, 208);
  color: black;

  transition: 200ms ease-in-out;

  &:hover {
    background-color: blue;
    color: white;
  }
}

img {
  width: 100%;
  height: 100%;
}

.photoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.photo {
  width: 200px;
  height: 200px;
}

.photoTitle {
  height: 20px;
}

.done {
  color: green;
  font-weight: bold;
}

.notDone {
  color: red;
  font-weight: bold;
}
